@import './abstracts/variables.scss';

.title {
	text-align: center;
	font-size: 1.75rem;
	color: $pink;
}

.textBox {
	margin: 1em 0 2em;
}

.text {
	margin: 0;
	text-align: center;
	color: $blue;
}

.link {
	color: $celeste;
}
