@import '../../styles/abstracts/variables.scss';

.button {
	text-align: center;
	margin: 0 0.5em 0.5em;
	padding: 0.5em 0.75em;
	background-color: inherit;
	color: $purple;
	font-weight: bold;
	border-radius: 0.75em;
	border: 2px solid $blue;
	transition: $transition;
	cursor: pointer;

	&:hover {
		background-color: $celeste;
	}
}
