@import '../../styles/abstracts/variables.scss';

.input {
	padding: 0.3rem 1rem;
	margin: 0.5em auto;
	background-color: $black;
	outline: none;
	border: 2px solid $blue;
	border-radius: 0.75em;
	display: block;
	color: $textColor;
}
