@import '../styles/abstracts/variables.scss';

textarea {
	resize: none;
}

.input {
	padding: 0.3rem 1rem;
	margin: 0.5em auto;
	background-color: $black;
	outline: none;
	border: 2px solid $blue;
	border-radius: 0.75em;
	display: block;
	color: $textColor;
}

.text {
	color: darken($celeste, $amount: 35);
}

.data {
	color: $celeste;
}
